    <!DOCTYPE html>
<html>
<head>
    <title>Potwierdzenie rezerwacji</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{  text-align: center; }
    </style>
</head>
<body>
        <h1 class = 'alert alert-success'>POTWIERDZENIE REZERWACJI BILETOW</h1>

        <div id="container">
    {% block content %}

               {% endblock %}
</div>
</body>
</html>